body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    
    
    background-color: #ffffff;
    
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
 
}

.button {
	display: inline-block;
	font: inherit;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #81b3d2;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #669ec0;
}

.button:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #5496bd;
}

.button.booking,
.button-search {
	background-color: #766357;
	
}

.button.booking {
	
	width: 142px;
	box-sizing: border-box;
	padding: 2px 10px 3px;
	margin-left: 3px;

	font-weight: bold;
}

.button.details {
	
	width: 110px;
	box-sizing: border-box;
	padding: 2px 5px 3px;

	font-weight: bold;
}

.button.booking:hover,
.button.booking:focus,
.button-search:hover,
.button-search:focus {
	color: #ffffff;
	background-color: #604e43;
    outline: #2e1c10;
}

.button.booking:active,
.button-search:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #503e33;
	outline: #2e1c10;
}

.container {
	width: 770px;
	margin: 0 auto;
	padding: 0 10px;

}

/*header*/

.main-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
  flex-wrap: wrap;
  width: 770px;

	
	
}

.main-navigation {	
	width: 770px;
	margin: 0 auto;
	padding: 0 15px;
	
	position: relative;

	
}

.main-nav a {
	display: block;
  padding: 17px 15px 20px 35px;
    font-weight: bold;

	color: #000000;
	
}
.main-nav li:nth-child(2) {
	padding-right: 135px;
	padding-left: 10px;
}

.main-nav li:last-child {
	padding-left: 27px;
	

}


.main-header-logo {
	position: absolute;
	right: 330px;
	
	
}



 .main-nav a:hover,
 .main-nav a:focus {
	color: #81b3d2;
}

.main-nav a:active {
	color: #b7b7b7;
}

.main-nav .current a{
	color: #766357;
	font-weight: bold;
}

/*section introduction main page*/

.main-wrapper {

	margin-bottom: 55px;
	height: 510px;
	background-image: url("img/Welcome.png"), 
	url("img/to the gorgeous.png"), 
	url("img/Because the Grand  Canyon sucks_.png"), 
	url("img/Sedona.png"),
	url("img/white.png"), 
	url("img/background photo.jpg");
	background-repeat: no-repeat;
	background-position: 290px 75px, 295px 130px, 235px 345px, 155px 210px, 0 477px, 0 0;
	
}


/*section advantages main page*/

.advantages-description {
	padding: 0;
	margin: 0;
	text-align: center;
	margin-bottom: 50px;
}

.description {
	text-align: center;
	margin-bottom: 30px
}

.index-inner-column {
	color: #000000;
	background-color: #ffffff;
}


.advantages-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-wrap: wrap;


	margin-bottom: 60px;
}

.advantage-item {
	padding: 0;
	margin: 0;

	text-align: center;

}


.advantage-item.item-with-foto {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	

}

.advantage-item.item-with-foto img {
	padding: 0;
	margin: 0; 
	height: 256px;
}

.advantage-item.item-without-foto {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	width: 256px;
	
	padding: 40px 45px;
	

}


.column-blue {
	box-sizing: border-box;
	width: 256px;
	margin: 0;
	padding: 24px 30px 26px; 
	color: #ffffff;
    background-color: #81b3d2;
	

}


.advantage-item h3,
.advantage-item h4,
.description {
	font-size: 21px;
	line-height: 26px;
}




.additional-advantages-list {
 

	padding: 0;
	margin: 0;
	list-style: none;

    
	display: flex;
}

.additional-advantages-list .advantage-item {
	width: 33%;
	box-sizing: border-box;
	padding: 130px 40px 50px;
	text-align: center;
}


.advantage-item h4 {
	position: relative;
	

}

.advantage-item:first-child h4::before {
	content: "";

	position: absolute;
    bottom: 50px;
    

	width: 75px;
	height: 72px;

	background-image: url("img/icon-1.svg");

}

.advantage-item:nth-child(2) h4::before {
	content: "";

	position: absolute;
    bottom: 50px;
    left: 50px;
    

	width: 70px;
	height: 70px;

	background-image: url("img/icon-3.svg");

}

.advantage-item:last-child h4::before {
	content: "";

	position: absolute;
    bottom: 50px;
    left: 50px;
    

	width: 64px;
	height: 76px;

	background-image: url("img/icon-2.svg");

}

/*section search main page*/





.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    
	width: 570px;
	padding-top: 50px;
	margin-left: 100px;
	
	
}




.search-item {
	
	width: 460px;
   margin: 0;
  
  margin-bottom: 25px;

	font-size: 14px;
	font-weight: bold;
	color: #000000;

}

.search-item label {
	padding-right: 20px;
}


.search-form input[type="text"]
{
	
  width: 340px;
  box-sizing: border-box;
  padding: 10px;
 padding-right: 40px;
  
  font: inherit;
  color: #000000;
  text-transform: uppercase;


  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input[type="text"]:hover,
.search-form input[type="text"]:focus
 {
	background-color: #ebebeb;
}

.search-form input[type="text"]:active {
	background-color: none;

	
	
}
 
.search-item.date {
	display: flex;
	align-items: center;
	justify-content: flex-end;
 	position: relative;
 	
 }

.search-item.date .arrive-date-calendar {
	content: "";
	position: absolute;
	border: none;
	background-color: #f2f2f2;
	right: 10px;
	top: 10px;

	width: 21px;
	height: 22px;
	

}

.search-item.date .depature-date-calendar {
	content: "";
	position: absolute;
	border: none;
	background-color: #f2f2f2;
	right: 10px;
	top: 10px;

	width: 21px;
	height: 22px;
	

}

.depature-date-calendar path,
.arrive-date-calendar path {
	fill: #a9a9a9;
	

}
.depature-date-calendar:focus path,
.arrive-date-calendar:focus path,
.depature-date-calendar:hover path,
.arrive-date-calendar:hover path {
   
    fill: #000000;
   
}

.depature-date-calendar:active path,
.arrive-date-calendar:active path {
   
    fill: #81b3d2;

   
}

.search-item input {
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #f2f2f2;
  
}

.search-item.numbers {

	width: 220px;
	
	
}


.search-item.numbers.numbers-adults{
display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 55px;
}

.search-item.numbers.numbers-adults label {
	padding-right: 40px;
}

.search-item.numbers.numbers-children{
display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 45px;
}


.form-btn {
	
	margin: 0;
	padding: 10px 15px;
	
	border: none;
    
    font-size: 21px;
    font-weight: bold;
	color: rgba(0, 0, 0, 0.3);

	background-color: #f2f2f2;
}





.form-number {
	display: block;
	margin: 0;
	padding: 0;
	padding: 12px 12px;
	background-color: #f2f2f2;
	border: none;
}



.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.interested {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
}

.search-info {
	text-align: center;
	margin-bottom: 50px;
}

.button-search {
    padding: 0;
    margin: 0;
    font-size: 21px;
	width: 565px;
	box-sizing: border-box;
	margin-left: 100px;
	padding: 30px 0px;
}

.button-find {
	width: 455px;
	padding: 20px 0;
	margin-top: 20px;

	font-size: 21px;
}

.modal-form {
	display: none;
}

@keyframes ride {
	0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}


.modal-show {
	display: block;
	animation-name: ride;
	animation-duration: 0.6s;
}

.index-column-form {
	height: 480px;
	background-image: url("img/white fon.png");
	background-repeat: no-repeat;
	background-position: 85px -5px;
}

.index-column-map {
	padding: 0;
    margin: 0;
  margin-bottom: 30px;

	height: 480px;
	background-image: url("img/map.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
}



.form-column {
	padding: 0;
    margin: 0;
	background-color: #ffffff;
	background-image: url("img/form layer.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/*section filters second page*/

.filters {
    min-height: 220px;
	color: #ffffff;
  background-color: #000000;
  background-image: url("img/hotels_fon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.catalog-filters {
	display: flex;
}

.filter fieldset {
	margin: 0;
	padding: 0;
  border: none;
}


.filter legend {
	display: block;	
	font-weight: bold;
	text-align: center;	
}

.filter-infrastructure {
	width: 153px;
	margin: 30px;
}

.filter-infrastructure li {
	display: block;
	margin-left: 50px;
	margin-top: 24px;
}

.filter-type {
	width: 150px;
	margin: 30px;
	
}

.filter-type li {
	display: block;
	margin-left: 50px;
	margin-top: 24px;
	
}

.filter-option label {
	position: relative;

	display: block;

	cursor: pointer;
	user-select: none;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -35px;

	width: 23px;
	height: 23px;

	background-image: url("img/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
	content: "";
	position: absolute;
	left: -35px;

	width: 27px;
	height: 23px;

	background-image: url("img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
	opacity: 0.4;
}




.filter-range {
	width: 230px;
	margin: 30px;
	margin-left: 65px;
	
    
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;

	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}
.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	padding-top: 5px;


	font-size: 14px;
	line-height: 21px;

	vertical-align: baseline;

	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 80px;
	padding-left: 30px;
}

.price-controls input {
  width: 30px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;

}

.range-toggle {
position: absolute;
  top: -9px;

	width: 4px;
	height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  width: 5px;
  height: 5px;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/*section sorting second page*/

.finding {
	font-size: 21px;
	line-height: 26px;
	padding-top: 12px;
}

.sorting-wrapper {
	display: flex;
	justify-content: space-between;
	

	padding: 20px 40px 15px;
	
	border-bottom: 1px solid #e5e5e5;
	

}

.sorting-header {
	margin-left: 30px;
}

.sorting-icon a {
	display: block;
}

.sorting-icon {
	padding-top: 10px;
}

.sorting-icon.nonactive {
	padding-left: 70px;
}

.sorting-icon.nonactive polygon {
	fill: #cacaca;
}

.sorting-icon.active polyline {
	fill: #81b3d2;
}

.sorting-icon.nonactive:hover polygon,
.sorting-icon.active:hover polyline,
.sorting-icon.nonactive:focus polygon,
.sorting-icon.active:focus polyline {
	fill: #231f20;
}

.sorting-icon.nonactive:active polygon,
.sorting-icon.active:active polyline {
	fill: #81b3d2;
}

.sorting-by-list {
	list-style: none;
	
	display: flex;
	justify-content: space-between;

	
}

.sorting-by-item a {
	display: inline-block;
	padding-right: 20px;
	color: #cacaca;
	text-decoration: underline;
	text-decoration-style: dotted;

}

.sorting-by-item.current a{
	color: #81b3d2;
	text-decoration: none;

}

.sorting-by-item a:hover,
.sorting-by-item a:focus {
	color: #81b3d2;
	text-decoration: none;
}

.sorting-by-item a:active {
	color: #000000;
    text-decoration: none;
}

/*section hotels second page*/

.hotels-list {
	margin: 0;
	padding: 0;	
	display: flex;
	flex-direction: column;
	list-style: none;
	margin-bottom: 35px;

	
}


.hotels-item  {
	display: flex;
	
	padding: 20px 40px;
	padding-top: 30px;
	
	
	border-bottom: 1px dotted #cacaca;
	
}


.hotels-item .hotels-item-img {
	
	width: 155px;
	margin-right: 10px;
	
}

.hotels-item .hotel-price {
	
	
	width: 315px;
}

.hotels-item .hotel-price h3 {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}

.hotel-price span {
	padding-left: 30px;
}


.hotels-list .hotel-name a {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.hotels-list a:hover,
.hotels-list a:focus {
	color: #81b3d2;
}

.hotels-list a:active {
	color: #cacaca;
}

.rating {
	position: relative;
	
	width: 110px;
	margin-top: auto;
	margin-left: auto;
	
	
	

	
}

.rating .star {
	position: absolute;
	top: -65px;
	right: 0px;
	width: 80px;
	height: 18px;
	background-color: red;
	background: url("img/star.svg") space repeat 0 0;
}

.hotels-item:nth-child(2) .rating .star {
	width: 60px;
}

.hotels-item:last-child .rating .star {
	width: 40px;
}

.rating span {
	display: block;
	width: 110px;
	margin-bottom: 15px;
    background-color: #f2f2f2;
	text-align: center;
    color: #666666;
    text-transform: uppercase;
}


/*footer*/

.main-footer .container {
	display: flex;
	justify-content: space-between;
	 margin-bottom: 30px;

	
}

.footer-teg span{
	display: block;
	width: 142px;
	margin-left: 55px;
	margin-top: 15px;
  
	font-size: 21px;
	font-weight: bold;
	text-align: center;

}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 154px;
    margin: 0 auto;
    padding: 0;

	list-style: none;

}

.footer-social {
	width: 260px;
	margin-left: 20px;
	font: inherit;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	text-align: center;

}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;


	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
   background-color: #5496bd;
}

.social-button:active path {
   fill: #88b6d1;
}


.footer-copyright a:hover path,
.footer-copyright a:focus path {
	 fill: #81b3d2;
}

.footer-copyright a:active path {
	 fill: #bdbbbc;
}

.footer-copyright {
	display: flex;
  width: 200px;
  margin-right: 25px;
  text-align: center;

}

.footer-copyright b {
   padding-right: 5px;
   padding-top: 10px;

   font-weight: normal;

}
